body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.para1 {
    text-align: justify;
}

.my-name {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    padding-top: 10%;
}

.hire-me-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

section {
    margin-bottom: 100px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.para2 {
    text-align: justify;
    padding-right: 10%;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    margin-bottom: 50px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey;

}

#full-stack-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

.para3 {
    padding-right: 20px;
    text-align: justify;
}

footer p {
    text-align: center;
}
.experience{
    padding-left: 5%;
}